.main {
    display: block;
    margin: auto;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

.input {
    display: none;
}

.userIcon {
    border-radius: 50%;
    position: relative;
    width: 76px;
    height: 76px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #777;
    top: calc(50% - 32px);
}


.addIcon {
    display: block;
    width: 76px;
    height: 76px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #C3073F;
    top: calc(-57%);
    opacity: 0%;
    transition: opacity .3s;
}

.addIcon:hover {
    opacity: 100%;
}
